@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$neutral-very-dark-blue: hsl(234, 12%, 34%);
$neutral-grayish-blue: hsl(229, 6%, 66%);
$neutral-very-light-gray: hsl(0, 0%, 98%);
$shadow: hsl(226, 16%, 84%);

$font-family: 'Poppins', sans-serif;
$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-600: 600;
$font-size: 15px;

#root {
    background-color: $neutral-very-light-gray;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 21.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .app_header {
        padding-bottom: 1.8rem;

        .header_title {
            font-size: 1.74rem;
            font-family: $font-family;
            font-weight: $font-weight-200;
            color: $neutral-very-dark-blue;
            margin: 0;
            text-align: center;
        }

        .header_support {
            font-size: 1.74rem;
            font-family: $font-family;
            font-weight: $font-weight-600;
            color: $neutral-very-dark-blue;
            margin: 0;
            text-align: center;
            padding: 0 0.2rem 1rem 0.2rem;
        }

        .header_description {
            font-size: 1.08rem;
            font-family: $font-family;
            font-weight: $font-weight-400;
            color: $neutral-grayish-blue;
            margin: 0;
            text-align: center;
        }
    }

    .topic_box {

        .sub_topic {
            border-radius: 5px;
            padding: 1.5rem 1.8rem;
            margin: 1.6rem 0;
            background-color: $neutral-very-light-gray;
            box-shadow: 0 1rem 2rem .2rem $shadow;
            display: grid;
            grid-template-rows: 0.5fr 0.9fr 1fr;
            grid-template-columns: 3.5fr 1fr;
        }

        .topic_name {
            font-size: 1.3rem;
            font-family: $font-family;
            font-weight: $font-weight-600;
            color: $neutral-very-dark-blue;
        }

        .merge_1_2 {
            grid-column: span 2;
        }

        .topic_description {
            font-size: $font-size;
            font-family: $font-family;
            font-weight: $font-weight-400;
            color: $neutral-grayish-blue;
            line-height: 1.6rem;
            margin: 0;
        }

        .merge_3_4 {
            grid-column: span 2;
        }

        .sub_topic img {
            padding-top: 1rem;
            width: 100%;
        }

        .sub_topic-0 {
            border-top: 4px solid $primary-cyan;
        }

        .sub_topic-1 {
            border-top: 4px solid $primary-red;
        }

        .sub_topic-2 {
            border-top: 4px solid $primary-orange;
        }

        .sub_topic-3 {
            border-top: 4px solid $primary-blue;
        }

    }
}

@media (min-width: 1300px) {
    #root {
        height: 99vh;
    }

    .app {
        padding: 4rem 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $font-size;

        .app_header {
            width: 550px;
            padding-bottom: 3.5rem;

            .header_title {
                font-size: 2.4rem;
            }

            .header_support {
                font-size: 2.4rem;
            }

            .header_description {
                font-size: 1rem;
            }
        }

        .topic_box {
            width: 80vw;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 1.8vw;
            align-items: center;

            .sub_topic {
                border-radius: 5px;
                margin: 0;
                padding: 1.2vw 2vw 1.5vw 2vw;
                background-color: $neutral-very-light-gray;
                box-shadow: 0 0.5rem 1.5rem .2rem $shadow;
                display: grid;
                grid-template-rows: 0.5fr 0.8fr 1fr;
                grid-template-columns: 3.5fr 1fr;
                align-items: center;
            }

            .sub_topic p {
                padding-bottom: 1.8rem;
                font-size: $font-size;
            }

            .sub_topic img {
                padding-top: 0;
                width: 4.5vw;
            }

            //    c1 c2 c3
            // r1  v  x  v
            // r2  A  x  A

            .sub_topic-0 {
                grid-column: 1 / 2; /* column 1 */
                grid-row: 1 / span 2; /* spanning 2 rows */
              }

              .sub_topic-1 {
                grid-column: 2 / 3; /* column 2 */
                grid-row: 1 / 2; /* row 1 */
              }

              .sub_topic-2 {
                grid-column: 2 / 3; /* column 2 */
                grid-row: 2 / 3; /* row 2 */
              }

              .sub_topic-3 {
                grid-column: 3 / 4; /* column 3 */
                grid-row: 1 / span 2; /* spanning 2 rows */
              }
        }
    }
}